<div class="modal-holder">
  <h1 mat-dialog-title>Select a card</h1>
  <div mat-dialog-content>
    <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container">
      <div fxFlex *ngFor="let card of cards" class="card-item">
        <app-card-selector-card [ngStyle]="{'width':'300' + 'px'}" [card]="card" [detail]="false"
         (click)="selectCard(card)" ></app-card-selector-card>
      </div>
    </div>
  </div>
  <i mat-button class="material-icons" (click)="onNoClick()">
    close
  </i>
</div>
