::ng-deep .mat-dialog-container {
  background: white;
  color: #5c473f;
}

 ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #04abd6 !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #04abd6 !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #04abd6 !important;;
}
