<app-navbar></app-navbar>
<mat-card>
<h1>About</h1>
<br />
<br />
<h2>What is it?</h2>
<p>The Project Approach Tool has been developed to help students determine their project approach. This can be done both top-down (from phases to questions, methods and </p>
<p>deliverables) and bottom-up (from deliverables and methods to questions and phases). The tool also supports online collaboration.</p>
<br />
<h2>What is it based on?</h2>
<p>The Project Approach Tool contains various card decks which can be used for inspiration. <a href="https://www.cmdmethods.nl/">CMDmethods</a>, <a href="http://ictresearchmethods.nl">ICT research methods</a> and <a href="http://engineeringmethods.nl/">Engineering methods</a> are all based on</p>
<p><a href="https://maken.wikiwijs.nl/129804/DOT_framework__EN_">the DOT framework</a> and are grouped based on its field, library, workshop, lab and showroom strategies plus stepping stones. </p>
<p>The tool also contains the more generic stepping stones developed by Miriam Losse, which is used in 3S projects at Saxion.</p>
<br />
<h2>Who is involved?</h2>
<p>This tool has been developed by students, so far: Matyas Kone (Saxion HBO-IT), Lars Hendriks (Saxion HBO-ICT).</p>
<p>The development is monitored by a steering committee consisting of Danny Plass (project leader, Saxion HBO-ICT), Miriam Losse (Saxion Research in Education), Etto</p>
<p>Salomons (Saxion HBO-ICT, 3S), Kasper Kamperman (Saxion CMGT), Koen van Turnhout (HU, Human Experience & Media Design), and Sonja Rouwhorst (HvA CMD).</p>
<p>The project is partially funded by <a href="https://www.hbo-i.nl/">HBO-i</a>.</p>
<br/>
<h2>Questions?</h2>
<p>If you have any questions or feedback, <a href="mailto:info@projectapproachtool.nl">you can send us an email.</a></p>
</mat-card>