<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" id="side-nav" #sidenav mode="over" fixedInViewport="false" (click)="sidenav.toggle()">
    <button mat-raised-button (click)="clearWorkspace()">Clear Workspace</button>
    <button mat-raised-button (click)="saveTemplate()">Save Template</button>
  </mat-sidenav>


  <mat-sidenav-content class="workspace-container" cdkDropListGroup (scroll)="onScroll()" id='screen'>
    <mat-toolbar>
      <button id="add-button" mat-fab [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
      </button>

      <mat-toolbar-row>
        <i class="material-icons" style="color: black;   position: absolute;" (click)="sidenav.toggle()">
          menu
        </i>
        <span id="title-container">
          <input *ngIf="canEditTitle" class="title" #name [(ngModel)]="workspace.title"
            (keyup.enter)="moveFocusToSubtitle()" appFocusOnShow AutoSizeInput [extraWidth]="80" placeholder="Title">
          <p class="title" #title *ngIf="!canEditTitle" (click)="canEditTitle = true">{{ workspace.title }}</p>
        </span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <mat-menu #menu="matMenu" class="customize">
          <button mat-menu-item (click)="addGroup()">Phase</button>
          <button mat-menu-item (click)="addResearchQuestion()">Question</button>
          <button mat-menu-item (click)="openCardSelector('method')">Method</button>
          <button mat-menu-item (click)="openCardSelector('steppingStone')">Stepping Stone</button>
          <button mat-menu-item (click)="openCardSelector('custom')">Custom Card</button>
          <button mat-menu-item (click)="startArrow()">Arrow</button>
          <button mat-menu-item (click)="AddCustomCard()">Create Custom Card</button>
        </mat-menu>
        <span id="goal-container">
          <input class="goal" *ngIf="canEditGoal" #sbtitle [(ngModel)]="workspace.goal"
            (keyup.enter)="saveGoal()" appFocusOnShow AutoSizeInput [extraWidth]="80" placeholder="Goal" />
          <p class="goal" #goal *ngIf="!canEditGoal" (click)="canEditGoal = true">{{ workspace.goal }}</p>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div id="spawn-list" *ngIf="spawnList.cards.length > 0">
      <div cdkDropList id="{{ spawnList }}" [cdkDropListData]="spawnList.cards" class="card-list"
        >
        <div *ngFor="let card of spawnList.cards" class="card-listitem" cdkDrag
          [ngStyle]="{ 'background-color': card.Color }">
          <app-card [card]="card"></app-card>
        </div>
      </div>
    </div>

    <app-group class="group-item" *ngFor="let group of workspace.groups" [id]="group.id" cdkDrag [group]="group"
      [cdkDragFreeDragPosition]="group.location" (cdkDragMoved)="drag(group)" (cdkDragEnded)="onDragEnded($event,group)"
      (mousedown)="check($event)" (click)="drawing ? addArrow(group) : select(group, $event)"
      (dropped)="cardDropped()" (deleted)="deleteGroup($event)" >
    </app-group>

    <div id="trashcan" class="ths">
      <div cdkDropList id="trashcan" [cdkDropListData]="trashCan" class="card-list"
        (cdkDropListDropped)="deleteTriggered($event)">
        <div class="card-listitem">
          <i class="material-icons">
            delete
          </i>
        </div>
      </div>
    </div>

    <div id="mouseTracker" [style.top.px]="top" [style.left.px]="left"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
