<div class="group-card">
  <div class="group-header" >
    <div id="title" *ngIf="!canEdit" appClickStopPropagation>
      <h2 (mousedown)="check($event)" (click)="editTitle($event)">
        {{ group.title }}
      </h2>
    </div>

    <mat-form-field
      class="example-full-width"
      *ngIf="canEdit"
      appClickStopPropagation
    >
      <input
        #name
        matInput
        placeholder="Title"
        [(ngModel)]="group.title"
        (keyup.enter)="saveTitle()"
        (focusout)="saveTitle()"
        appFocusOnShow
      />
    </mat-form-field>
  </div>
  <div class="group-content">
    <div
      cdkDropList
      id="{{ group.id }}"
      [cdkDropListData]="group.cards"
      class="card-list"
      (cdkDropListDropped)="drop($event)"
    >
      <app-card
        cdkDrag
        *ngFor="let card of group.cards"
        class="card-listitem"
        [ngStyle]="{ 'background-color': card.color }"
        [card]="card"
        [room]="room"
        id="{{ (card.id) ? card.id : card._id }}"
        (save)="saveCardQuestionTitle(card)"
        (changeText)="setEffectOnCard(card)"
        (cdkDragStarted)="onDragCard(card)"
        (cdkDragEnded)="onDragCardEnded(card)"
        (removeEffect)="removeEffectFromCard(card)"
        (changedNote)="updateNoteInCard(card)"
      ></app-card>
    </div>
  </div>
</div>
