/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
        background: #f3efec;
    color: black;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: black;
}

.mat-form-field-appearance-legacy .mat-hint{
    color: black;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
    color: black;
}

.mat-form-field.mat-focused .mat-form-field-label{
    color: #04abd6;
    transition: 0.4;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #04abd6;
    transition: 0.4;
}

p{
    color: black;
}

.mat-form-field{
    color: black;
}


