.container {
    border: solid #4488ff 2px;
    display: flex;
    flex-direction: column;
    min-height:300px;
}

.arrow {
    width:48px;
    height:32px;
}

.header {
    color:white;
    background-color:#4488ff;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:-2px;
}

.header h3 {
    margin:10px;
    margin-left:20px;
    flex-grow:1;
    padding:0px;
}

.placeholder {
    padding:20px;
    border: dashed #4488ff 2px;
    color: #4488ff;
    cursor:pointer;
}

.placeholder:hover {
    background-color:#cceeff;
}

.conditions {
    padding:10px;
}