<mat-card>
  <img mat-card-image src="{{this.workspace.image || '../../../assets/image/whiteSmoke.PNG'}}" (click)="goToWorkspace()"/>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <mat-card-title>{{this.workspace.title}}</mat-card-title>
    <button mat-mini-fab id="more-button" class="button24" [matMenuTriggerFor]="menu" [disableRipple]="true">
      <mat-icon class="icon24">more_vert</mat-icon>
    </button>
  </div>
  <mat-card-subtitle>{{this.workspace.goal}}</mat-card-subtitle>
  <mat-menu #menu="matMenu" class="customize">
    <button mat-menu-item (click)="createTemplate()">Make template</button>
    <button mat-menu-item (click)="createCopy()">Make copy</button>
    <button mat-menu-item (click)="deleteWorkspace()">Delete</button>
  </mat-menu>
</mat-card>
