<div class="container">
    <div class="header">
        <img src="/assets/image/icons/arrow-half-R.png" class="arrow left">
        <h3>Display as: </h3>
    </div>
    <div class="actions">
        <ng-template appDynamicComponentAnchor></ng-template>
        <div class="placeholder" [matMenuTriggerFor]="addAction" *ngIf="actionComponent === null">Click to add an action</div>
        <mat-menu #addAction="matMenu">
            <button mat-menu-item *ngFor="let item of supportedActions" (click)="setNewAction(item.type)">{{item.display}}</button>
        </mat-menu>
    </div>
</div>
